@import "../../../globalStyles/scss/variables.scss";

.login-form {
  .input {
    margin-bottom: 8px;
  }

  &__button {
    text-align: center;

    > button {
      width: 281px !important;
    }
  }
}
