@import "../../../globalStyles/scss/variables.scss";

.login-form {
  &__button {
    margin-top: 2.188rem;
    text-align: center;

    > button {
      width: 100%;
      max-width: 100%;
    }
  }

  &__change-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-top: 1.5rem;

    > p {
      margin-bottom: 1rem;
      color: $auna-black;
      font-weight: 500;
      font-size: 0.875rem;
    }

    > button {
      font-size: 0.875rem;
    }
  }

  &__terms-conditions {
    color: $auna-black;
    font-size: 0.875rem;
    text-align: center;
    margin-top: 2.25rem;

    > a {
      color: $auna-interactive;
    }
  }

  &__input-wrapper {
    background-color: white;
  }

  .InputField {
    margin: 0 0 1.25rem 0;

    label {
      margin-bottom: 0.625rem;
    }
  }
}
