@import "@temp/globalStyles/scss/variables.scss";

.category {
  background-color: $auna-grey-06;
  display: flex;
  padding-top: 3.625rem;

  @media (max-width: $small-screen) {
    padding-top: 4.4rem;
  }

  &__container {
    margin: 0 auto 0 auto;
    width: $container-width;
    max-width: 100vw;
    padding: 0 $spacer;
    @media (min-width: $small-screen) {
      justify-content: center;
    }
  }
  flex-direction: column;
  &__body {
    display: flex;
    margin-top: 0;
    align-items: flex-start;
    @media (max-width: $small-screen) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .breadcrumbs {
      display: none;
    }
  }

  &__products {
    width: 50rem;
    margin-bottom: 1.875rem;
    z-index: 0;
    @media (max-width: $small-screen) {
      margin-left: 0;
      width: 100%;
    }
    @media (min-width: $small-screen) {
      margin-left: 1.5rem;
    }
  }

  &__header {
    text-align: center;
    padding-top: $spacer * 4.5;
    padding-bottom: $spacer * 4.5;
    background-size: cover;
    background-color: $blue-overlay;
    background-blend-mode: multiply;

    &__title {
      background-color: $white;
      display: inline-block;
      transform: skew(-45deg);
      padding: 1.5vw 9vw;

      h1 {
        display: inline-block;
        transform: skew(45deg);
        font-weight: $bold-font-weight;
        text-transform: uppercase;
        color: $blue;
        font-size: 8vw;
        font-weight: 900;

        @media (min-width: $small-screen) {
          font-size: 4vw;
        }
      }
    }
  }

  &__pagination {
    margin-top: 4rem;

    @media (max-width: $medium-screen) {
      flex-direction: column-reverse;
      line-height: 50px;
      margin-top: 1rem;
    }
  }

  &__breadcrumbs {
    margin-bottom: 2rem;
    li {
      display: flex;
      align-items: center;
    }
  }
  @media (max-width: $medium-screen) {
    .product_list_header__right_side {
      border-bottom: 0.0625rem solid #d3d7e5;
      display: flex;
      flex-direction: column-reverse;
      .products_found, .product_list_header__dropdown {
        margin-top: 0!important;
      }
    }
    .products_found {
      display: none;
    }
  }

  @media (min-width: $medium-screen) {
    .products_found {
      margin: 0 !important;
    }
  }
}
