@import "../../../globalStyles/scss/variables.scss";

.account {

  @media screen and (max-width: $medium-screen) {

    &__menu_mobile {
      padding: 2rem 1.25rem 0 1.2rem;
    }
  }

  @media screen and (max-width: $medium-screen-styled) {
    &__menu_mobile {
      width: 100%;
      padding: 0 1.25rem 0 1.2rem;
    }
  }
}
