.*
!.github/workflows/sonarqube-ci.yml
!.github/workflows/lighthouse-ci.yml
!.dockerignore
!.storybook
!.circle
!.gitignore
!.babelrc
!.plop
!.jest
!.linguirc
!.prettierrc
!.husky
!.npmrc
!.prettierignore
!.vscode/settings.json
!.eslintrc.js
dist
out
node_modules
src/locales/_build

cypress/videos
cypress/screenshots

coverage*
firebase.json

performance