@import "../../../../globalStyles/scss/variables.scss";

.cart {
  width: 25rem;
  max-width: 100vw;

  .overlay__header {
    justify-content: initial;
    display: flex;
    flex-direction: column;
    padding: 0;

    &__top,
    &__bottom {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__top {
      align-items: center;
      padding: 12px 24px;
    }

    &__bottom {
      color: $white;
      background: $auna-interactive;
      padding: 18px 0 18px 24px;
    }

    &__cart-icon {
      margin-left: auto;
    }
  }

  &__list {
    padding: 0 $spacer;
    height: calc(100vh - 17.5rem);
    overflow: auto;

    &__item {
      padding: $spacer 0;
      border-bottom: 2px solid #e6f6f9;
      display: flex;
      align-content: stretch;

      img {
        max-width: 6.25rem;
        height: 6.25rem;
      }

      &__details {
        width: 100%;
        padding: 0 $spacer;

        &--name {
          color: #424141;
          font-size: 14px;
          font-weight: 600;
        }

        &--button {
          color: $auna-interactive;
          font-size: 12px;
        }

        &--variant {
          color: #727171;
          font-size: $small-font-size;
        }
      }

      &__up {
        display: flex;
        justify-content: space-between;
      }

      &__down {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
      }

      &__quantity {
        align-items: center;
        border: 1px solid #b8bcd5;
        border-radius: 26px;
        display: flex;
        justify-content: center;

        &__text {
          color: $auna-grey-100;
          margin: 6px 18px;
          user-select: none;
        }

        &__icon {
          color: $auna-interactive;
          cursor: pointer;

          &:first-child {
            margin-left: 14px;
          }

          &:last-child {
            margin-right: 14px;
          }

          &.disabled {
            color: $auna-disabled;
          }
        }

        &__price {
          font-weight: 500;
          font-size: 18px;
        }
      }
    }
  }

  &__footer {
    padding: $spacer;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $white;

    &__price {
      display: flex;
      font-weight: 400;
      justify-content: space-between;
      padding: 0 12px;

      &--sub {
        border-top: 1px solid #e8e8e8;
        color: #9b9b9b;
        font-size: 14px;
        font-weight: 300;
        padding: 12px;
      }
    }

    &__button {
      margin-top: 20px;
      text-align: center;

      button {
        width: 85%;
      }
    }
  }

  &__empty {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $spacer * 2 $spacer;

    &__img {
      height: 154px;
      margin: 128px 0 36px;
    }

    &__title {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: $spacer;
    }

    &__text {
      font-weight: 300;
      max-width: 281px;
      text-align: center;
    }

    &__action {
      margin-top: 44px;
      padding: initial !important;
      text-align: center;
      font-size: 16px;

      > button {
        width: 250px;
      }

      > button > span {
        text-align: center;
      }
    }
  }

  &__delete-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px;

    &__close {
      align-items: flex-end;
      margin: 0 0 162px auto;
    }

    &__wording {
      margin-bottom: 64px;
      text-align: center;
      width: 254px;
    }

    &__button {
      width: 254px;

      &--primary {
        @extend .cart__delete-modal__button;
        margin-bottom: 16px !important;
      }

      &--secondary {
        @extend .cart__delete-modal__button;
        background-color: $white !important;
        border: 1px solid $auna-interactive !important;

        > span {
          color: $auna-interactive !important;
        }
      }
    }
  }
}
