@import "@temp/globalStyles/scss/variables.scss";

$mobile-screen-size: 360px;
$small-screen-plus-one: 541px;

.overlay {
  &__right {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    overflow-y: hidden;

    @media (max-width: $small-screen) {
      border-radius: 0;
    }
  }

  .cart {
    width: 26rem;
    max-width: 100vw;
    height: 100%;

    @media (max-width: $small-screen) {
      overflow: auto;
    }
    .overlay__header {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 2.5rem 1rem;
      align-items: flex-start;
      background-color: #00bf8e;
      border: none;
      color: $white;

      @media (max-width: $small-screen) {
        padding-left: 1rem;
        position: sticky;
        top: 0;

        &.scrolled {
          padding: 1rem;
        }
      }

      &__text {
        display: flex;
        align-items: flex-start;

        &__cart-icon {
          width: 2rem;
          height: 2rem;
          background: #008a66;
          border-radius: 50%;
          display: flex;
          margin-right: 0.75rem;
          svg {
            margin: auto;
          }
        }

        &__info {
          span {
            display: block;
          }
          &__title {
            font-weight: $bold-font-weight;
            font-size: $h3-font-size;
            line-height: 2rem;

            @media (max-width: $small-screen) {
              font-size: $base-line-height;
              &.scrolled {
                font-size: $base-font-size;
              }
            }
          }
          &__items {
            margin: 0;
            font-weight: $font-weight-bold;
            font-size: $base-font-size;
            line-height: 1.5rem;

            @media (max-width: $small-screen) {
              &.scrolled {
                height: 0;
                visibility: collapse;
              }
            }
          }
        }
      }

      &__close-icon {
        width: 2rem;
        height: 2rem;
        background: $white;
        border-radius: 50%;
        display: flex;
        color: $black;
        top: 1.5rem;
        right: 1.5rem;
        svg {
          transform: translate(0.1rem, 0.1rem);
          margin: auto;
        }

        @media (max-width: $small-screen) {
          &.scrolled {
            top: 1rem;
            right: 1rem;
          }
        }
      }
    }

    &__body {
      height: calc(100% - 6rem);
      background-color: #f7f6f8;

      @media (min-width: $small-screen-plus-one) {
        position: relative;
      }
      @media (max-width: $small-screen) {
        min-height: calc(100% - 6rem);
      }
    }
    &__list {
      &__item {
        width: 23rem;
        min-height: 8rem;
        background-color: $white;
        border-radius: 1.5rem;
        padding: $spacer;
        display: flex;
        margin: auto;
        margin-bottom: 1.5rem;
        align-content: stretch;
        align-items: center;

        @media (max-width: $small-screen) {
          width: 100%;
          border-radius: 0;
          border-bottom: 0.0625rem solid #d3d7e5;
          background-color: #f7f6f8;
          margin-bottom: 0;
          &.delete {
            background-color: $white;
          }
        }

        &:hover {
          box-shadow: 0 0.5rem 1rem rgba(42, 55, 81, 0.08);
          transition: 0.3s;
          @media (max-width: $small-screen) {
            box-shadow: none;
          }
        }

        &__image {
          width: 4.5rem;
          height: 4.5rem;
          display: flex;
          margin-right: 1rem;
          align-self: flex-start;

          @media (max-width: $small-screen) {
            width: 4rem;
            height: 4rem;
            margin-right: 0.5rem;
            background-color: $white;
            border-radius: 0.5rem;
          }

          img {
            height: 4.5rem;
            margin: auto;
            object-fit: contain;

            @media (max-width: $small-screen) {
              height: 4rem;
              border-radius: 0.5rem;
            }
          }
        }

        &__details {
          width: calc(100% - 5.5rem);

          @media (max-width: $small-screen) {
            width: calc(100% - 5.5rem);
          }

          &--name {
            width: 100%;
            min-height: 3rem;
            color: #2f2c3a;
            font-size: 0.875rem;
            font-weight: 500;
            line-height: 1.5rem !important;
          }

          &--button-tooltip {
            margin-bottom: 0.25rem;
          }

          &--button {
            width: 2rem !important;
            height: 2rem !important;
            color: $black;
            background-color: #f7f6f8;
            &:hover {
              background-color: #fbe9ea;
              color: #c82328;
            }
          }

          &--variant {
            color: #727171;
            font-size: $small-font-size;
          }
        }

        &__down {
          display: flex;
          justify-content: space-between;
          margin-top: 0.5rem;
          align-items: flex-start;
          .itemHandler {
            min-width: 8.125rem;
            min-height: 2.5rem;

            @media (max-width: $small-screen) {
              max-width: calc(100% - 6.375rem);
            }

            &--actions {
              @media (max-width: $mobile-screen-size) {
                width: 7rem;
              }
            }
          }

          > div {
            &:nth-child(1),
            &:nth-child(3) {
              margin-top: 0.5rem;
            }
          }
          > span {
            align-self: center;
          }
        }

        &__price {
          &__title {
            margin: 0;
            color: #aca8bd;
            font-size: 0.75rem;
            line-height: 100%;
            font-weight: $font-weight-bold;
            letter-spacing: -0.05em;
          }

          &__value {
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: $bold-font-weight;
            &.discounted_price {
              color: $gray-light;
            }

            @media (max-width: $small-screen) {
              font-size: 1.125rem;
            }
            @media (max-width: $mobile-screen-size) {
              margin-right: 0.5rem !important;
            }
          }
        }

        &__delete {
          h4 {
            text-align: center;
            font-size: $small-font-size;
            &:nth-child(1) {
              line-height: $h3-font-size;
              letter-spacing: -0.05em;
              color: #23212b;
              font-weight: $font-weight-bold;
              margin-bottom: 0.25rem;
            }

            &:nth-child(2) {
              line-height: $base-font-size;
              color: #2f2c3a;
              font-weight: $bold-font-weight;
              margin-bottom: 0.5rem;
            }
          }

          &--options {
            display: flex;
            justify-content: center;
            > button {
              margin: 0 0.25rem;
              outline: none;
              > span {
                margin: 0;
              }
            }
          }
        }
      }
    }

    &__empty {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: $spacer * 2 $spacer;
      height: calc(100% - 9.5rem);

      &__img {
        margin-top: 8rem;
        margin-bottom: 2.25rem;
      }

      &__title {
        font-size: $base-font-size;
        line-height: $h3-font-size;
        font-weight: 600;
        margin-bottom: $spacer;
        color: #23212b;
      }

      &__text {
        font-size: $small-font-size;
        line-height: $h3-font-size;
        font-weight: 400;
        max-width: 13.75rem;
        text-align: center;
      }

      &__action {
        margin-top: 1.75rem;
        padding: initial !important;
        text-align: center;
        font-size: $base-font-size;

        > button {
          font-weight: 600;
          line-height: 1.5rem;
        }
      }
    }

    &__delete-modal {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 24px 16px;

      &__close {
        align-items: flex-end;
        margin: 0 0 162px auto;
      }

      &__wording {
        margin-bottom: 64px;
        text-align: center;
        width: 254px;
      }

      &__button {
        width: 254px;

        &--primary {
          @extend .cart__delete-modal__button;
          margin-bottom: 16px !important;
        }

        &--secondary {
          @extend .cart__delete-modal__button;
          background-color: $white !important;
          border: 1px solid $auna-interactive !important;

          > span {
            color: $auna-interactive !important;
          }
        }
      }
    }
  }
}
