@import "@temp/globalStyles/scss/variables.scss";

.home-page {
  .home-view {
    .container {
      margin-top: 0;
      @media (max-width: $small-screen) {
        padding: 0;
        margin-top: 0;
      }
    }

    .inner-container {
      @media (max-width: $small-screen) {
        padding: 0 1rem;
      }
    }
  }

  &__products {
    padding: 2rem 0 4rem 0;

    .home-page__product {
      border-width: 0;
      padding: 2rem;
      .description {
        height: 4rem;
        margin-bottom: 0.5rem;
      }
      &-sticker {
        margin-top: 0;
        align-self: flex-start;
        & > div {
          position: absolute;
        }
      }
      &-image {
        flex-direction: column-reverse;
      }
      &-price {
        display: block;
        span:before {
          content: "";
        }
      }
      &-title {
        text-align: center;
      }
      &-button {
        justify-content: center;
      }
    }
    .search-page__product-price {
      display: none;
    }

    &-title {
      color: #323e48;
      font-size: 2rem;
      padding: 2rem 1rem;
      font-weight: 600;
      line-height: normal;
      max-width: 63rem;

      @media (max-width: $medium-screen) {
        padding: 1rem 1rem 1.875rem 1rem;
        font-size: 1.5rem;
        text-align: center;
        line-height: normal;
      }
    }

    > p {
      color: $auna-black;
      font-size: 1.3rem;
      padding: 1rem 0;
      line-height: 1.8;

      @media (max-width: $small-screen) {
        font-size: 1.5rem;
      }
    }

    .products-featured {
      @media (max-width: $medium-screen) {
        .slider.carousel {
          height: 30.625rem !important;
        }
      }
      ul {
        li {
          background-color: white;
          border: 0;
          @media (min-width: $medium-screen) {
            width: 13rem !important;
          }

          @media (min-width: $x-large-screen) {
            width: 16rem !important;
          }
        }
      }

      .slider-control-centerleft,
      .slider-control-centerright {
        top: -14% !important;
        right: 29px !important;
        height: 3.125rem;
        display: flex;
        align-items: center;
        @media (max-width: $medium-screen) {
          top: auto !important;
          bottom: -0.875rem !important;
        }
      }

      .slider-control-centerleft {
        left: auto !important;
        right: 7.625rem !important;

        @media (max-width: $medium-screen) {
          left: auto !important;
          right: calc(50% + 3.125rem) !important;
          transform: translate(50%, -50%) !important;
        }
        @media (max-width: $small-screen) {
          left: 30% !important;
          right: auto !important;
        }
      }

      .slider-control-centerright {
        left: auto !important;
        right: 3rem !important;
        @media (max-width: $medium-screen) {
          left: auto !important;
          right: calc(50% - 3.125rem) !important;
          transform: translate(50%, -50%) !important;
        }
      }
    }
  }

  &__bottom-section {
    background-color: #f6f8fa;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin: -5rem 0 4rem 0;
  }

  &__bottom-banner {
    align-items: center;
    background-color: #404497;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 3rem;
    display: flex;
    height: 6rem;
    padding: 0 3rem;
    width: 100%;

    p {
      color: white;
      font-size: 1rem;
    }

    @media (max-width: $small-screen) {
      border-top-left-radius: 0;
    }
  }

  .product-list {
    grid-column: 1;
    grid-row: 2;
    @media (min-width: $small-screen) {
      grid-column: 2;
      grid-row: 1;
    }
  }

  @media (min-width: $medium-screen) {
    .banner_left {
      position: relative;
      &::after {
        content: "";
        height: 21px;
        width: 1px;
        position: absolute;
        top: 35%;
        right: 0;
        border: 1px solid #e2e3f1;
        z-index: 5;
      }
    }
  }
  @media (max-width: $medium-screen) {
    .slider-frame {
      margin-bottom: 100px !important;
      &:first-child {
        margin-bottom: auto !important;
      }
    }
  }
}
