@import "../../../globalStyles/scss/variables.scss";

.home-page {
  background-color: $white;
  padding-top: 6.75rem;
  z-index: 0;
  .search {
    min-height: initial;
    &__input {
      margin-top: 0px;
    }
    &__products {
      position: absolute;
      left: 0;
      z-index: 3;
    }
  }
  .home-view {
    @media (min-width: $small-screen) {
      margin-top: 6.75rem;
    }

    .container {
      @media (max-width: $small-screen) {
        padding: 0;
        margin-top: 0;
      }
    }

    .inner-container {
      @media (max-width: $small-screen) {
        padding: 0 1rem;
      }
    }
  }

  &__top-banner {
    background: no-repeat url("../../../images/auna/home-banner-top.png") #00b0ca;
    background-position: 2rem 1rem;
    background-size: 25rem;
    border-radius: 1rem;
    color: white;
    height: 21rem;
    margin: 0 0 3rem 0;
    position: relative;
    width: 100%;

    @media (max-width: $small-screen) {
      height: 26.5rem;
      border-radius: 0;
      background: no-repeat url("../../../images/auna/home-banner-mob.png") #00b0ca;
      background-position: center top;
      margin-bottom: 2rem;
    }

    &__text {
      position: absolute;
      right: 2rem;
      top: 3rem;
      max-width: 38rem;

      @media (max-width: $small-screen) {
        border-radius: 1rem 1rem 0 0;
        margin-top: 12.8rem;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0 10px;
        position: absolute;
        text-align: center;
        width: 100%;
      }

      b {
        font-weight: bolder;
      }

      h2 {
        font-size: 3.25rem;
        font-weight: bolder;
        line-height: 3.5rem;
        align-items: center;
        letter-spacing: 0.015em;

        @media (max-width: $small-screen) {
          font-size: 1.5rem;
          line-height: 1.5rem;
          font-weight: bold;
          margin-bottom: 0;
        }
        @media (max-width: $xs-small-screen) {
          font-size: 1.3625rem;
          line-height: 1.5rem;
        }
      }
      h3 {
        font-size: 2.08rem;
        margin-bottom: 2.25rem;
        line-height: 2.7rem;
        @media (max-width: $small-screen) {
          font-size: 1rem;
          line-height: 1.25rem;
          margin-bottom: 38px;
        }
      }

      p {
        line-height: 1.5;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 0.75rem;
        line-height: 1.25rem;
        letter-spacing: 0.015em;

        @media (max-width: $small-screen) {
          font-size: 0.625rem;
        }
      }
    }
  }

  &__products {
    margin: 2rem 0 4rem 0;

    &-title {
      color: $auna-black;
      font-size: 1.4rem;
      padding: 1rem 0 3rem 0;
    }

    > p {
      color: $auna-black;
      font-size: 1.3rem;
      padding: 1rem 0;
      line-height: 1.8;

      @media (max-width: $small-screen) {
        font-size: 1.5rem;
      }
    }
  }

  &__bottom-section {
    background-color: #f6f8fa;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin: 4rem 0 4rem 0;
  }

  &__bottom-banner {
    align-items: center;
    background-color: #404497;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 3rem;
    display: flex;
    height: 6rem;
    padding: 0 3rem;
    width: 100%;

    p {
      color: white;
      font-size: 1rem;
    }

    @media (max-width: $small-screen) {
      border-top-left-radius: 0;
    }
  }

  &__districts-list {
    background: no-repeat url("../../../images/auna/home-banner-districts.png") #f6f8fa;
    height: 10rem;

    @media (max-width: $small-screen) {
      background: no-repeat url("../../../images/auna/home-banner-districts-mob.png") #f6f8fa;
      background-size: contain;
      height: 20rem;
    }
  }

  .product-list {
    grid-column: 1;
    grid-row: 2;
    @media (min-width: $small-screen) {
      grid-column: 2;
      grid-row: 1;
    }
  }
}
