@import "@temp/globalStyles/scss/variables.scss";

.home-page {
  background-color: $white;
  z-index: 0;
  .search {
    min-height: initial;
    &__input {
      margin-top: 0px;
      touch-action: none;
      -ms-touch-action: none;
    }
    &__products {
      position: absolute;
      left: 0;
      z-index: 3;
    }
  }
  &__products {
    .home-page__product {
      height: 26.5rem;
      border-width: 0;
      padding: 2rem;
      .description {
        height: 5rem;
        margin-bottom: 0.5rem;
      }
      &-sticker {
        margin-top: 0;
        align-self: flex-start;
      }
      &-image {
        flex-direction: column-reverse;
      }
      &-price {
        display: block;
        span:before {
          content: '';
        }
      }
      &-title {
        text-align: center;
      }
      &-button {
        justify-content: center;
      }
    }
    .search-page__product-price {
      display: none;
    }
  }
  .home-view {
    .container {
      margin-top: 0;
      @media (max-width: $small-screen) {
        padding: 0;
        margin-top: 0;
      }
    }

    .inner-container {
      @media (max-width: $small-screen) {
        padding: 0 1rem;
      }
    }
    
  }

  &__top-banner {
    position: relative;
    cursor: pointer;
    background-position: center top;
    @media (max-width: $small-screen) {
      height: 460px;
      border-radius: 0;
      background-position: center top;
      margin-top: 1rem;
    }
    @media (max-width: $xs-small-screen) {
      width: $xs-small-screen;
    }

    &__text {
      position: absolute;
      right: 2rem;
      top: 3rem;
      max-width: 38rem;

      @media (max-width: $small-screen) {
        border-radius: 1rem 1rem 0 0;
        margin-top: 12.8rem;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0 10px;
        position: absolute;
        text-align: center;
        width: 100%;
      }

      b {
        font-weight: bolder;
      }

      h2 {
        font-size: 3.25rem;
        font-weight: bolder;
        line-height: 3.5rem;
        align-items: center;
        letter-spacing: 0.015em;

        @media (max-width: $small-screen) {
          font-size: 1.5rem;
          line-height: 1.5rem;
          font-weight: bold;
          margin-bottom: 0;
        }
        @media (max-width: $xs-small-screen) {
          font-size: 1.3625rem;
          line-height: 1.5rem;
        }
      }
      h3 {
        font-size: 2.08rem;
        margin-bottom: 2.25rem;
        line-height: 2.7rem;
        @media (max-width: $small-screen) {
          font-size: 1rem;
          line-height: 1.25rem;
          margin-bottom: 38px;
        }
      }

      p {
        line-height: 1.5;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 0.75rem;
        line-height: 1.25rem;
        letter-spacing: 0.015em;

        @media (max-width: $small-screen) {
          font-size: 0.625rem;
        }
      }
    }
  }

  &__products {
    padding: 2rem 0 4rem 0;

    &-title {
      color: #323e48;
      font-size: 2rem;
      padding: 1rem 1rem 3rem 1rem;
      font-weight: 600;
      line-height: normal;
      max-width: 63rem;

      @media (max-width: $medium-screen) {
        padding: 1rem 1rem 1.875rem 1rem;
        font-size: 1.5rem;
        text-align: center;
        line-height: normal;
      }
    }

    > p {
      color: $auna-black;
      font-size: 1.3rem;
      padding: 1rem 0;
      line-height: 1.8;

      @media (max-width: $small-screen) {
        font-size: 1.5rem;
      }
    }

    .products-featured {
      @media (max-width: $medium-screen) {
        .slider.carousel {
          height: 30.625rem !important;
        }
      }
      ul {
        li {
          background-color: white;
          border: 0;
          @media (min-width: $medium-screen) {
            width: 13rem !important;
          }

          @media (min-width: $x-large-screen) {
            width: 16rem !important;
          }
          
        }
      }

      .slider-control-centerleft,
      .slider-control-centerright {
        top: -17% !important;
        right: 29px !important;
        height: 3.125rem;
        display: flex;
        align-items: center;
        @media (max-width: $medium-screen) {
          top: auto !important;
          bottom: -20px !important;
        }
      }

      .slider-control-centerleft {
        left: auto !important;
        right: 7.625rem !important;
        
        @media (max-width: $medium-screen) {
          left: auto !important;
          right: calc(50% + 3.125rem)!important;
          transform: translate(50%, -50%)!important;
        }
        @media (max-width: $small-screen) {
          left: 30% !important;
          right: auto !important;
        }
      }

      .slider-control-centerright {
        left: auto !important;
        right: 3rem !important;
        @media (max-width: $medium-screen) {
          left: auto !important;
          right: calc(50% - 3.125rem)!important;
          transform: translate(50%, -50%)!important;
        }
      }
    }
  }

  &__bottom-section {
    background-color: #f6f8fa;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin: -5rem 0 4rem 0;
  }

  &__bottom-banner {
    align-items: center;
    background-color: #404497;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 3rem;
    display: flex;
    height: 6rem;
    padding: 0 3rem;
    width: 100%;

    p {
      color: white;
      font-size: 1rem;
    }

    @media (max-width: $small-screen) {
      border-top-left-radius: 0;
    }
  }

  &__districts-list {
    background: no-repeat url("../../../images/auna/home-banner-footer.jpg")
      #f6f8fa;
    height: 23.75rem;

    @media (max-width: $small-screen) {
      background: no-repeat
        url("../../../images/auna/home-banner-footer-mob.jpg") #f6f8fa;
      background-size: 100% 100%;
      height: 39.563rem;
    }
  }

  .product-list {
    grid-column: 1;
    grid-row: 2;
    @media (min-width: $small-screen) {
      grid-column: 2;
      grid-row: 1;
    }
  }

  @media (min-width: $medium-screen) {
    .banner_left {
      position: relative;
      &::after {
        content: "";
        height: 21px;
        width: 1px;
        position: absolute;
        top: 35%;
        right: 0;
        border: 1px solid #e2e3f1;
        z-index: 5;
      }
    }
  }
  @media (max-width: $medium-screen) {
    .slider-frame {
      margin-bottom: 100px !important;
      &:first-child {
        margin-bottom: auto !important;
      }
    }
  }
}
.banner-container {
  aspect-ratio: 360 / 460;
  text-align: center;
  position: relative;
  @media (min-width: $small-screen) {
    aspect-ratio: 1920 / 500;
  }
  .banner-image {
    width: 100%;
    margin: 0 auto;
    &.loading{
      display:none !important;
    }
    &.desktop {
      @media (max-width: $small-screen) {
        display: none;
      }
    }
    &.mobile {
      display: none;
      @media (max-width: $small-screen) {
        display: block;
      }
    }
  }

  ul {
    li {
      border: 0 !important;
    }
  }
}
