@import "@temp/globalStyles/scss/variables.scss";

.out-of-time-message {
    background-color: $auna-out-of-time-background;
    border-radius: 16px;
    color: $auna-black;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    max-width: 19rem;
    padding: 1rem;
    &__icon {
        flex: 0.2;
        margin: 0rem 0.5rem;
        padding-top: 8px;
    }
    &__title {
        flex: 1;
        font-size: $small-font-size;
        font-weight: $bold-font-weight;
    }
    &__text {
        width: 100%;
        font-size: 13px;
        font-weight: $bold-font-normal;
    }
}
