@import "../../../globalStyles/scss/variables.scss";

.side-nav {
  $item-height: 3.7rem;
  max-width: calc(100vw - 5rem);
  width: 30rem;
  height: 100%;
  &--body{
    height: calc(100% - 5.5rem);
    position: relative;
    overflow: auto;
  }

  &__menu-item {
    display: flex;
    flex-direction: column;

    &--static {
      font-size: 14px;
      padding: 12px 24px;
    }

    &-header,
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.25rem 1.5rem;
    }

    &__subitem{
      &-content {
        display: flex;
        align-items: center;
        padding: 1.25rem 1.5rem;
        background-color: $white;
        color: $auna-interactive;
        .side-nav__menu-item-arrow{
          height: 1.5rem;
          width: 2rem;
        }
      }
      &-button{
        bottom: 3rem;
        position: absolute;
        text-align: center;
        width: 100%;
      }
    }

    &--is-open {
      .side-nav {
        &__menu-item {
          &-arrow {
            animation: rotate 360ms ease-in-out 0s 1 alternate forwards;
          }
          &-link {
            color: $auna-black;
          }          
        }
      }
    }

    &-link {
      font-weight: 500;
      font-size: 18px;
      color: $auna-grey-100;
    }

    &-close,
    &-more,
    &-back {
      &:hover {
        cursor: pointer;
      }
    }

    &-header {
      padding: 24px;
    }
  }

  &__nav-children {
    padding: 16px 12px;
    background-color: $white;
    animation: show 360ms ease-in-out 0s 1 alternate forwards;

    &__child {
      display: flex;
      flex-direction: column;
      padding: 16px;
      border-radius: 8px;

      &:active,
      &:hover {
        background-color: $auna-complementary1;
      }
    }
  }
  &--actions{
    height: 5.5rem;
    padding: 1rem;
    text-align: center;
    width: 100%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
