@import "../../../globalStyles/scss/variables.scss";

.side-nav {
  $item-height: 3.7rem;
  max-width: calc(100vw - 5rem);
  width: 30rem;

  &__menu-item {
    display: flex;
    flex-direction: column;

    &--static {
      font-size: 14px;
      padding: 12px 24px;
    }

    &-header,
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 24px;
    }

    &--is-open {
      .side-nav {
        &__menu-item {
          &-arrow {
            animation: rotate 360ms ease-in-out 0s 1 alternate forwards;
          }
          &-link {
            color: $auna-interactive;
          }
        }
      }
    }

    &-link {
      font-weight: 500;
      font-size: 18px;
      color: $auna-grey-100;
    }

    &-close,
    &-more,
    &-back {
      &:hover {
        cursor: pointer;
      }
    }

    &-header {
      padding: 24px;
    }
  }

  &__nav-children {
    padding: 16px 12px;
    background-color: $white;
    animation: show 360ms ease-in-out 0s 1 alternate forwards;

    &__child {
      display: flex;
      flex-direction: column;
      padding: 16px;
      border-radius: 8px;

      &:active,
      &:hover {
        background-color: $auna-complementary1;
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
