@import "../../../globalStyles/scss/variables.scss";

.side-nav {
  $item-height: 3.7rem;
  max-width: calc(100vw - 5rem);
  width: 30rem;
  min-height: 100vh;

  @media (max-width: $small-screen) {
    max-width: calc(100vw - 3.5rem);
  }

  > ul {
    height: calc(100%);
    position: relative;
  }
  &--body {
    position: relative;
    overflow: auto;
  }

  &__menu-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    div {
      &:hover {
        a {
          color: $gray-light;
        }
      }
    }

    &--static {
      font-size: 14px;
      padding: 12px 24px;
    }

    &-header,
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.25rem 1.5rem;
      transition: all 0.1s ease-in-out;
    }
    &-header {
      background: white;
      button {
        transform: scale(0.8);
      }
    }
    &__subitem {
      &-content {
        display: flex;
        align-items: center;
        padding: 1.25rem 1.5rem;
        background-color: $white;
        color: $auna-interactive;
        .side-nav__menu-item-arrow {
          height: 1.5rem;
          width: 2rem;
        }
      }
      &-button {
        bottom: 3rem;
        position: absolute;
        text-align: center;
        width: 100%;
      }
    }

    &__subitem {
      &-content {
        display: flex;
        align-items: center;
        padding: 1.25rem 1.5rem;
        background-color: $white;
        color: $auna-interactive;
        .side-nav__menu-item-arrow {
          height: 1.5rem;
          width: 2rem;
        }
      }
      &-button {
        bottom: 3rem;
        position: absolute;
        text-align: center;
        width: 100%;
      }
    }
    &--is-open {
      .side-nav {
        &__menu-item {
          &-arrow {
            top: 0;
          }
          &-link {
            color: $auna-black;
            text-transform: capitalize;
          }
        }
      }
    }

    &-close {
      margin-right: 1.688rem;
    }
    &-more,
    &-back {
      &:hover {
        cursor: pointer;
      }
    }

    &-header {
      padding: 24px;
      border-bottom: 1px solid #e2e3f1;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__nav-children {
    padding: 1rem 0.75rem;
    background-color: $white;
    animation: show 360ms ease-in-out 0s 1 alternate forwards;

    &__child {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border-radius: 0.5rem;
      font-size: $small-font-size;
      color: #908ba7;
      margin-left: 1.25rem;
      &:active,
      &:hover {
        color: $darkGreen3;
      }
    }
  }
  &--actions {
    height: 5.5rem;
    padding: 1rem;
    text-align: center;
    width: 100%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
