@import "../../../globalStyles/scss/variables.scss";

.product-page {
  background-color: $white;
  z-index: 0;
  margin-top: 4rem;
  .breadcrumbs {
    background-color: $white;
    padding: $spacer / 2 $spacer $spacer / 2 $spacer * 1.5;
    margin-top: $spacer * 2;
  }

  &__product {
    display: flex;

    @media (max-width: $medium-screen) {
      display: block;
      margin-bottom: $spacer * 2;
    }

    &__background {
      display: none;
      @media (max-width: $small-screen) {
        display: block;
        background-color: $auna-interactive;
        height: 20rem;
        position: absolute;
        left: -1rem;
        width: calc(100% + 2rem);
      }
    }

    &__description {
      width: 100%;
      min-height: $spacer * 10;
      margin-bottom: $spacer * 9;
    }

    &__info {
      position: relative;
      display: flex;
      flex-direction: column;

      @media (min-width: $medium-screen) {
        width: 100%;
        margin-left: 40px;
      }

      @media (max-width: $small-screen) {
        padding: 1rem;
      }

      > div {
        @media (min-width: $small-screen) {
          // padding-right: 1rem;
        }
      }

      &--fixed {
        width: 100% !important;
        @media (min-width: $container-width) {
          width: calc(#{$container-width} * 30 / 100);
        }
      }
    }

    &__gallery {
      margin-right: 58px;
      box-sizing: border-box;
      padding-top: 6.5rem;

      @media (max-width: $medium-screen) {
        width: 50%;
      }

      @media (max-width: $small-screen) {
        width: 100%;
        padding: 0;
        margin-bottom: $spacer * 2;
        padding: 0;
        padding-top: 6.5rem;
      }

      &__nav {
        li {
          display: inline-block;
          padding: $spacer / 2;

          span {
            width: $spacer / 2;
            height: $spacer / 2;
            border: 1px solid $gray;
            border-radius: $spacer / 2;
            display: block;
          }

          &.active {
            span {
              background-color: $turquoise;
              border-color: $turquoise;
            }
          }
        }
      }
    }
  }

  &__other-products {
    background-color: $white;
    padding: $spacer * 4 0;

    &__title {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      margin-bottom: $spacer * 2;
    }
  }
}
