@import "@temp/globalStyles/scss/variables.scss";

.register_successfully {
  height: 100vh;
  padding: 0rem;
  font-size: $base-font-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 70px auto;

  .register_header {
    text-align: center;
    margin-bottom: 1rem;

    svg {
      margin: 0 auto;
    }
  }

  .register_title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    @media (max-width: $small-screen) {
      font-size: 1.3rem;
    }

    width: 100%;
    p {
      font-weight: $big-bold-font-weight;
    }
  }

  .register_body {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 0.875rem;

    strong {
      font-weight: $bold-font-weight;
    }

    width: 100%;
    p {
      font-weight: 500;
      color: #908BA7;
      line-height: normal;
    }
  }

  .register_button {
    text-align: center;
    width: 18.438rem;
    button {
      width: 100%;
    }
  }
}
