@import "../../../../globalStyles/scss/variables.scss";

$custom-breakpoint: 624px;

.size {
  margin: 0 auto;
  max-width: 552px;
  width: 100%;

  @media (max-width: $custom-breakpoint) {
    max-width: 330px;
  }
}

.search {
  width: 100vw;

  &--has-results {
    min-height: 100vh;
  }

  &__input {
    margin-top: 80px;

    .input {
      padding: 36px;
      background-color: $auna-black;

      &__content {
        @extend .size;
        background-color: $auna-black;

        align-items: center;
        border: 1px solid $white;
        border-radius: 4px;
        box-shadow: none;
        display: flex;
        justify-content: center;
        padding: 0;
      }

      &__inner-icon {
        margin-right: 16px;

        svg * {
          fill: $auna-interactive;
        }
      }

      &__field {
        background-color: $auna-black;
        border: none;
        box-shadow: none;
        color: $white;
        flex: 1;
        padding: 12px 16px;
        margin: 0;


        @media (max-width: $custom-breakpoint) {
          font-size: 14px;
        }

        &:focus {
          box-shadow: none;
        }

        &::placeholder {
          color: $white;
        }
      }
    }
  }

  &__products {
    background: $auna-grey-20;
    overflow: auto;
    padding: 20px 0;
    position: relative;
    right: 0;
    transition: 300ms;
    height: calc(100vh - 3rem);

    &--expanded {
      right: 0;
    }

    &--background-opacity{
      background: $auna-grey-05;
      opacity: 0.92;
    }
    &--not-found {
      @extend .size;
      padding: 14px;
    }

    &__item {
      @extend .size;
      background-color: $white;
      border-radius: 6px;
      padding: 8px 36px;
      border: 1px solid $auna-complementary1;
      margin-bottom: 2.65px;

      @media (max-width: $custom-breakpoint) {
        padding: 8px 16px;
        margin-bottom: 10px;
      }

      &:hover {
        background-color: $auna-complementary1;
        border: 1px solid $auna-complementary1;

        @media (max-width: $custom-breakpoint) {
          .search__products__item__side__name > span {
            color: $auna-complementary1;
          }
        }
      }

      &__content {
        display: flex;
        justify-content: space-between;
      }

      &__side {
        display: flex;

        &__name {
          color: $base-font-color;
          display: flex;
          flex-direction: column;
          justify-content: center;

          > span {
            color: #727171;
            font-size: 12px;

            @media (max-width: $custom-breakpoint) {
              color: $white;
            }
          }
        }

        &__price {
          align-items: center;
          display: flex;
          font-size: 16px;

          @media (max-width: $custom-breakpoint) {
            font-size: 12px;
          }

          > span {
            font-size: 18px;
            margin-left: 6px;

            @media (max-width: $custom-breakpoint) {
              font-size: 14px;
            }
          }
        }
      }

      img {
        width: 3.6rem;
        height: 3.6rem;
        display: inline-block;
        margin-right: 34px;
        vertical-align: top;

        @media (max-width: $custom-breakpoint) {
          margin-right: 12px;
        }
      }

      ul {
        max-height: calc(100vh - 9rem);
      }
    }

    &__footer {
      @extend .size;
      background-color: $auna-grey-20;
      padding: 8px 0;
      text-align: end;

      &__button {
        background-color: unset !important;

        @media (max-width: $custom-breakpoint) {
          padding: 0.9rem 0 !important;
          width: unset !important;
          max-width: unset !important;
        }

        > span {
          color: $auna-interactive !important;
          display: flex !important;
          font-size: 14px !important;
        }

        &__icon {
          margin: 0 14px;
        }
      }
    }
  }
}
