@import "../../../../globalStyles/scss/variables.scss";

$custom-breakpoint: 624px;

.size {
  margin: 0 auto;
  max-width: 552px;
  width: 100%;

  @media (max-width: $custom-breakpoint) {
    max-width: 330px;
  }
}

.search {
  @media (max-width: $medium-screen) {
    width: 100%;
  }

  &__input {
    display: flex;
    flex-direction: column;

    input {
      width: 100%;
    }
    @media (min-width: $medium-screen-styled) {
      align-items: center;
      flex-direction: row;
      justify-content: center;
    }
    @media (min-width: $medium-screen) {
      justify-content: center;
    }
    &--clear {
      cursor: pointer;
      margin: auto;
      transform: translate(0.0625rem, 0.0625rem);
    }
    .input {
      @media (min-width: $medium-screen) {
        width: 26.25rem;
      }
      input {
        color: #2f2c3a;
      }

      input::placeholder {
        font-size: 0.875rem;
        line-height: 100%;
        color: #908ba7;
      }

      &__content {
        @extend .size;
        background-color: #ffffff;
        align-items: center;
        border: 0.0625rem solid $darkGreen3;
        border-radius: 2.5rem;
        box-shadow: none;
        display: flex;
        justify-content: center;
        padding-right: 0.5rem;
      }

      &__inner-icon {
        background-color: $darkGreen3;
        border-radius: 50%;
        display: flex;
        width: 2rem;
        height: 2rem;

        svg {
          margin: auto;
          fill: $white;
        }
      }

      &__field {
        background-color: transparent;
        border: none;
        box-shadow: none;
        flex: 1;
        padding: 0.75rem 1rem;
        margin: 0;
        border-radius: 0.5rem;

        @media (max-width: $custom-breakpoint) {
          font-size: 14px;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  &__products {
    background: $auna-grey-20;
    overflow: auto;
    padding: 50px 0;
    position: fixed;
    top: 100px;
    right: 0;
    top: 12.9rem;
    transition: 300ms;
    height: calc(100vh - 3rem);
    width: 100vw;
    z-index: 2;

    @media (min-width: $medium-screen) {
      top: 4.7rem;
    }

    &--expanded {
      right: 0;
    }

    &--background-opacity {
      background: $auna-grey-05;
      opacity: 0.92;
    }

    &--not-found {
      @extend .size;
      padding: 14px;
      > p {
        text-align: center;
        color: #908ba7;
      }

      div {
        text-align: center;
        padding: 1rem;
        p {
          font-weight: $bold-font-weight;
        }
      }
    }
    &__results {
      span {
        font-weight: 500;
      }
      @extend .size;
      margin-bottom: 24px;
      color: $auna-black;
      font-weight: 300;
      text-align: left;
      max-width: 645px;

      h4 {
        color: #2f2c3a;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 24px;

        @media (max-width: $medium-screen) {
          font-size: 1.25rem;
        }
      }
      p {
        font-size: 16px;
        color: #23212b;
      }
    }
    &__item {
      @extend .size;
      background-color: $white;
      border-radius: 24px;
      padding: 32px;
      border: 1px solid $auna-complementary1;
      margin: 0 0 1.5rem 0;
      max-width: none;
      height: 8.875rem;
      position: relative;
      overflow: hidden;

      @media (max-width: $medium-screen) {
        width: 100%;
        height: auto;
        padding: 32px 23px;
      }

      &:hover {
        border: 1px solid $auna-interactive;

        @media (max-width: $custom-breakpoint) {
          .search__products__item__side__name > span {
            color: $auna-complementary1;
          }
        }
      }

      &__content {
        display: flex;
        justify-content: space-between;
        @media (max-width: $small-screen) {
          flex-direction: column;
        }
      }

      &__link {
        width: 21.875rem;
        @media (max-width: $small-screen) {
          width: auto;
        }
      }

      &__side {
        display: flex;
        &.actions {
          align-items: center;
          flex-direction: column;
          justify-content: flex-end;
          @media (max-width: $small-screen) {
            flex-direction: row;
            justify-content: space-between;
            margin-left: 4rem;
          }
          .button {
            > button {
              padding: 0.6rem 0.5rem;
              border-radius: 2.75rem;
              width: 8.125rem;
              span {
                font-size: $small-font-size;
              }

              @media (max-width: $small-screen) {
                width: 6.5rem;
              }
            }
          }
        }
        > div {
          display: flex;

          @media (max-width: $small-screen) {
            margin-right: -0.625rem;
          }
        }
        &__name {
          color: $base-font-color;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-weight: 600;

          > span {
            color: #727171;
            font-size: 12px;
            padding: 5px 0;
            position: relative;

            @media (max-width: $medium-screen) {
              padding: 15px 0;
            }
          }

          @media (max-width: $medium-screen) {
            margin-right: 0;
          }
        }

        &__price {
          color: #00bf8e;
          font-weight: 600;
          font-size: 20px;
          float: right;
          @media (max-width: $medium-screen) {
            font-size: 12px;
            margin-bottom: 0px;
            float: left;
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 0;
          }

          > span {
            font-size: $base-font-size;
            font-weight: $bold-font-weight;
            margin-left: 6px;

            @media (max-width: $medium-screen) {
              font-size: 1.2rem;
              margin: 0;
            }
          }
        }
        &__outstock {
          align-items: center;
          display: flex;
          > span {
            background: $aunaBrand5;
            padding: 5px 16px;
            color: $white;
            border-radius: 8px;
            font-size: $label-font-size;
            line-height: $base-line-height;
            font-weight: $font-weight-bold;
            letter-spacing: 0.06em;
          }
          @media (max-width: $small-screen) {
            margin-left: 4rem;
            justify-content: flex-end;
          }
        }
        .title_price {
          font-size: 12px;
          font-weight: 500;
          color: #aca8bd;
          display: inline-block;
          vertical-align: middle;
          margin: -2px 16px 0 0;

          @media (max-width: $medium-screen) {
            margin: 0;
          }
        }
      }

      img {
        width: 3.6rem;
        height: 3.6rem;
        display: inline-block;
        margin-right: 34px;
        vertical-align: top;
        transform: scale(1.8);

        @media (max-width: $medium-screen) {
          margin-right: 1.563rem;
        }
      }

      ul {
        max-height: calc(100vh - 9rem);
      }
    }

    &__footer {
      @extend .size;
      background-color: $auna-grey-20;
      padding: 8px 0;
      text-align: end;

      &__button {
        background-color: unset !important;

        @media (max-width: $custom-breakpoint) {
          padding: 0.9rem 0 !important;
          width: unset !important;
          max-width: unset !important;
        }

        > span {
          color: $auna-interactive !important;
          display: flex !important;
          font-size: 14px !important;
        }

        &__icon {
          margin: 0 14px;
        }
      }
    }

    &__list {
      @media (max-width: $small-screen) {
        padding-bottom: 10rem;
        padding-top: 1rem;
      }
      padding-bottom: 15.625rem;
      max-width: 645px;
      margin: 0 auto;
    }

    @media (max-width: $medium-screen) {
      padding: 1.25rem;
      top: 9.55rem;
    }

    .show_more_products {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 1rem;
      z-index: 1000;
      background-color: #ffffff;
      border-bottom-left-radius: 35px;
      border-bottom-right-radius: 35px;

      span {
        font-size: $base-font-size;
        font-weight: $font-weight-light;
      }
    }
  }
}
