@import "@temp/globalStyles/scss/variables.scss";

.itemHandler {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  border-radius: 40px;
  background: $auna-complementary1;
  p {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .add_remove_button {
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 23px;
    &:nth-child(1) {
      justify-content: flex-start;
      margin-left: 1rem;
    }
    &:nth-child(3) {
      justify-content: flex-end;
      margin-right: 1rem;
    }
    span {
      font-size: 2rem;
    }

    &:disabled {
      cursor: not-allowed;
      color: $auna-grey-100;
    }

    &:active {
      box-shadow: none;
      background-color: transparent;
    }

    &:focus {
      box-shadow: none;
      background-color: transparent;
    }

    color: $auna-interactive;
    cursor: pointer;
    padding: 0.5rem;
  }
}

@media (max-width: $small-screen) {
  .add_remove_button {
    &:nth-child(1) {
      justify-content: flex-start;
      margin: 0 !important;
      width: 20%;
    }
    &:nth-child(3) {
      justify-content: flex-end;
      margin: 0 !important;
      width: 20%;
    }
  }
}
