@import "@temp/globalStyles/scss/variables.scss";

.itemHandler {
  display: flex;
  flex-direction: column;
  align-items: center;
  &--actions{
    align-items: center;
    align-content: center;
    background: $auna-complementary2;
    border-radius: 40px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 8rem;
    height: 3rem;
    p {
      display: flex;
      align-items: center;
      padding: 0;
      font-size: 1rem;
      font-weight: 500;
    }
  
    .add_remove_button {
      display: flex;
      align-items: center;
      background-color: $darkGreen3;
      border-radius: 6.25rem;
      width: 1.5rem;
      height: 1.5rem;
      &:nth-child(1) {
        justify-content: flex-start;
        margin-left: 1rem;
      }
      &:nth-child(3) {
        justify-content: flex-end;
        margin-right: 1rem;
      }
      span {
        font-size: 0.8rem;
        margin-left: 0 !important;
        width: 100%;
        font-weight: 500;
      }
      &:hover {
        background-color: $darkGreen3;
        color: $white !important;
      }
  
      &:disabled {
        cursor: not-allowed !important;
        color: $auna-grey-100 !important;
        background-color: $auna-complementary1;
      }
  
      &:active {
        box-shadow: none;
      }
  
      &:focus {
        box-shadow: none;
        background-color: $darkGreen3;
      }
  
      color: $white !important;
      cursor: pointer;
      padding: 0.5rem;
    }
  }
  &__limit-max{
    color: $auna-orange-on-sale;
    font-size: $label-font-size;
  }
}



@media (max-width: $small-screen) {
  .add_remove_button {
    &:nth-child(1) {
      justify-content: flex-start;
      margin: 0 0 0 1rem;
      
    }
    &:nth-child(3) {
      justify-content: flex-end;
      margin: 0 1rem 0 0;
     
    }
  }
}
