@import "@temp/globalStyles/scss/variables.scss";

.product_list_wrapper {
  margin-top: 0;
  border-radius: 0.5rem;
  @media (max-width: $small-screen) {
    background: transparent;
  }
}
.go_home_div {
  display: none;
  margin-bottom: 1rem;
  a {
    font-size: $small-font-size;
    color: $turquoise;
  }
  @media (max-width: $small-screen) {
    display: none;
  }
}

.page_breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  svg {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .arrow_icon {
    margin-top: 4px;
  }
  span {
    font-size: $small-font-size;
    font-weight: $font-weight-bold;
  }
}

.right_side {
  @media (max-width: $small-screen) {
    padding: 0;
    display: block;

    .products_found {
      float: left;
      width: 70%;
    }
    .sort {
      width: 30%;
      div {
        padding: 0;
        margin: 0;
      }
    }
  }
}
.product_list_container {
  margin-bottom: 2rem;
  > div{
    background-color: $auna-grey-06;
  }
  .category__container {
    border-radius: 8px;
    width: 100%;
    background-color: $auna-grey-06;
    span {
      &:nth-child(2) {
        color: $gray-dark;
      }
      &:nth-child(3) {
        padding-left: 0;
      }
    }
    @media (max-width: $small-screen) {
      padding: 0;
      background: none !important;
    }
    .bar {
      padding-top: 0 !important;
    }
  }
}

.no_products {
  font-size: $small-font-size;
  text-align: center;
  @media (max-width: $small-screen) {
    text-align: left;
  }

  span {
    &:nth-child(2) {
      font-weight: $bold-font-weight;
    }
  }
}

.search-page {
  z-index: 0;
  @media (max-width: $small-screen) {
    .home-page__product {
      padding-bottom: 0;
    }
  }
  &.container {
    z-index: 0;
    margin-top: 1rem;
    @media (max-width: $medium-screen) {
      padding: 0;
    }
  }
  &__header {
    background-color: $auna-black;
    padding: 2rem;

    &__input {
      .container {
        margin: 0 auto;
      }
      .input {
        width: 100%;
        margin: 0 auto;
        border: 1px solid $white;
        border-radius: 4px;
        max-width: 560px;
        padding-bottom: 0;
        input {
          color: $white;
          font-size: $base-font-size;
          &::placeholder {
            color: $white;
          }
        }

        &__field {
          border: none;
          box-shadow: none;
          padding: 0.8rem 1rem;
          color: $white;

          &:focus {
            box-shadow: none;
            color: $white;
          }
        }
      }
    }
    display: none;
  }
}
