@import "../../../globalStyles/scss/variables.scss";

.article-page {
  margin: 0 auto;

  &__container {
    margin: 0 0 3.75rem 0;
  }

  &__header {
    background-size: cover;
    background-color: $auna-complementary1;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 9.56rem;

    @media (max-width: $small-screen) {
      min-height: 5.75rem;
    }

    &__title {
      background-color: $auna-complementary1;
      display: inline-block;
      padding: 1rem 2rem;

      @media (max-width: $small-screen) {
        padding: 1rem;
      }

      h1 {
        font-weight: $bold-font-weight;
        color: $darkGreen3;
        font-size: 2.5rem;
        font-weight: 600;

        @media (max-width: $small-screen) {
          font-size: 1.75rem;
        }
      }
    }
  }

  &__content {
    width: 100%;
    color: $auna-black !important;
    text-align: left;

    h1,
    h2,
    h3 {
      font-weight: 600;
      line-height: 2.125rem;
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: $spacer;
    }

    h3 {
      font-size: 1.2rem;
      margin-bottom: $spacer;
    }

    img {
      max-width: 100%;
    }

    a {
      color: $auna-interactive;
    }
  }
}
