@import '@temp/globalStyles/scss/variables.scss';

.footer {
  &__favicons {
    border-top: 1px solid $gray-light;
    display: flex;
    justify-content: center;
  }

  &__menu {
    background-color: $gray-light;
    padding: $spacer * 3 0 $spacer * 2;

    .container {
      display: flex;
      flex-wrap: wrap;
      div {
        &:not(:last-of-type) {
          padding-right: $spacer * 3;
        }
      }
    }

    &-section {
      &-header {
        font-weight: $bold-font-weight;
        margin-bottom: $spacer;
      }

      &-content {
        p {
          font-weight: $bold-font-weight;
          margin-bottom: $spacer;
          font-size: $small-font-size;
          color: $gray;
          display: block;

          a {
            text-decoration: none;
            color: $gray;
          }
        }
      }
    }
  }

  &-nav {
    background-color: $gray-light;
    padding: 5.625rem 0 0 0;

    @media (max-width: $medium-screen) {
      padding-bottom: 0rem;
      padding-top: 4.063rem;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      div:not(:last-of-type) {
        padding-right: $spacer * 3;
      }

      @media (max-width: $medium-screen) {
        flex-direction: column;
        padding-left: 4.563rem;
      }
      @media (max-width: $xs-small-screen) {
        padding-left: 4rem;
      }
    }

    &__arrow {
      &-icon {
        display: none;
      }
    }

    &__section {
      @media (max-width: $medium-screen) {
        margin-bottom: 2rem;
      }
      &-header {
        margin-bottom: 37px;
        font-weight: $font-weight-bold;
        color: $white;
        font-size: $small-font-size;

        @media (max-width: $medium-screen) {
          margin-bottom: 0.813rem;
        }
      }

      &-content {
        p {
          color: $gray;
          font-size: $small-font-size - 0.1;
          font-weight: $font-weight-bold - 200;
          display: block !important;
          a {
            text-decoration: none;
            color: $gray;
            font-size: $small-font-size - 0.1;
            font-weight: $font-weight-bold - 200;
          }
        }

        .email_footer {
          font-size: 0.875rem;
          font-weight: 600;

          a {
            color: #a8de3b;

            &:after {
              content: '';
              width: 14px;
              height: 9px;
              display: inline-block;
              vertical-align: middle;
              background: url('../../../images/icon-previous-email.svg')
                no-repeat;
              margin-left: 5px;
            }
          }
        }

        .phone_footer {
          margin-top: 30px;
          .phone {
            font-size: 2rem;
            font-weight: 600;

            &::before {
              content: '';
              width: 25px;
              height: 25px;
              display: inline-block;
              vertical-align: middle;
              margin: -5px 10px 0 0;
              background: url('../../../images/phone-icon.svg') no-repeat;
            }

            @media (max-width: $xs-small-screen) {
              font-size: 1.688rem;
            }
          }
        }
      }
    }

    .hr {
      margin-bottom: $spacer;
      border: none;
      border-top: 1px solid #b8bcd5;
    }

    .container_terms_and_privacy {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      margin-top: 4.375rem;
      .content_terms {
        width: 1140px;
        height: 95px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;

        @media (max-width: $medium-screen) {
          width: 100%;
          flex-direction: column;
          height: auto;
          padding: 40px 0;
        }
      }
    }

    .copyright {
      color: $gray;
      font-size: $small-font-size - 0.1;
      font-weight: $font-weight-bold - 200;
      font-weight: 400;

      label {
        margin-right: 28px;
        font-size: 14px;
        font-weight: 400;

        @media (max-width: $medium-screen) {
          margin-right: auto;
          margin-bottom: 10px;
        }
      }

      @media (max-width: $medium-screen) {
        display: flex;
        flex-direction: column;
      }
    }

    .privacy {
      color: rgba(255, 255, 255, 0.5);
      font-size: 0.875rem;
      font-weight: 400;

      @media (max-width: $medium-screen) {
        margin-top: 12px;
      }
    }

    .terms {
      float: right;
      color: $gray;
      padding-right: 0 !important;
      font-size: $small-font-size - 0.1;
      font-weight: $font-weight-bold;
    }
  }
}
