@import "@temp/globalStyles/scss/variables.scss";

.breadcrumbs {
  display: inline-flex;
  flex-wrap: wrap;
  margin: $spacer 0;

  @media (max-width: $small-screen) {
    margin-bottom: 2rem;
  }

  li {
    &:not(:last-of-type) {
      &:after {
        content: ">";
        display: inline-block;
        margin: 0 $spacer / 2;
      }
    }

    a {
      text-decoration: none;
      vertical-align: middle;
      transition: 0.3s;
    }
  }

  a {
    @media (max-width: $small-screen) {
      color: $auna-interactive;
    }
  }

  &__active {
    a {
      color: $base-font-color;
      font-weight: $bold-font-weight;

      &:hover {
        color: $base-font-color;
      }
    }
  }
}
