@import "@temp/globalStyles/scss/variables.scss";

.breadcrumbs {
  display: inline-flex;
  flex-wrap: wrap;
  margin: $spacer 0;

  @media (max-width: $small-screen) {
    margin-bottom: 2rem;
  }

  li {
    @media (max-width: $small-screen) {
      line-height: 1.5rem;
    }

    a {
      font-size: 0.875rem;
      font-weight: 600;
      text-decoration: none;
      color: #2F2C3A;
      text-transform: capitalize;
      line-height: 1.5rem;
    }
  }

  a {
    @media (max-width: $small-screen) {
      color: $auna-interactive;
    }
  }

  &__active {
    a {
      color: $base-font-color;

      &:hover {
        color: $base-font-color;
      }
    }
  }

  &__home-icon {
    display: inline-block;
    margin: 0 0.75rem 0 0.5rem;
    vertical-align: middle;
  }

  &__home_title {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    vertical-align: middle;
  }

  &__next-icon {
    display: inline-block;
    margin: 0.25rem 0.75rem 0 0.75rem;
    vertical-align: middle;
  }
}
