@import "@temp/globalStyles/scss/variables.scss";

.modal{
    &__container{
        height: 100vh;
        padding-top: 3rem;
        width: 100%;
        @media (max-width: $small-screen) {
            padding-top: 0rem;
        }
    }
}
