@import "../../../globalStyles/scss/variables.scss";

.password-reset-form {
  text-align: center;

  .input {
    margin: $spacer 0;
  }

  &__button {
    margin: $spacer * 2 0;

    > button {
      width: 281px;
    }
  }
}
