@import "../../../globalStyles/scss/variables.scss";

.password-reset-form {
  > p {
    font-size: $small-font-size;
    font-style: normal;
    font-weight: 500;
    line-height: 1.063rem;
    letter-spacing: 0.015em;
    text-align: center;
  }
  .input {
    margin: $spacer 0;
  }

  &__button {
    margin: $spacer * 2 0;
    text-align: center;
    > button {
      span {
        font-size: $base-font-size;
      }
    }
    @media (max-width: $small-screen) {
      margin: $spacer * 1 0 $spacer * 6 0;
    }

    &__input-wrapper {
      background-color: white;
    }

    form {
      margin-top: 2.5rem;
    }

    .container {
      width: auto;

      @media (max-width: $small-screen) {
        padding: 0;
      }
    }
  }
}
