@import "../../../globalStyles/scss/variables.scss";

.password-reset-form {
  > p {
    font-size: $small-font-size;
    font-style: normal;
    font-weight: 500;
    line-height: 1.063rem;
    letter-spacing: 0.015em;
    text-align: center;
  }
  .input {
    margin: $spacer 0;
  }

  &__button {
    margin: $spacer * 2 0;
    text-align: center;
    > button {
      width: 281px;
      span {
        font-size: $base-font-size;
      }
    }
  }

  &__input-wrapper {
    background-color: white;
  }

  form {
    margin-top: 2.5rem;
  }

  .container {
    width: auto;

    @media (max-width: $small-screen) {
      padding: 0;
    }
  }

  .reset-password-mail-sent__image {
    padding: 0 0 0.5rem 0;
    height: 5.5rem;
    
  }

  .reset-password-mail-sent {
    margin: 0;
    width: 100%;
    max-width: none;
  }

  .reset-password-mail-sent h3 {
    font-size: 1.5rem;
  }

  .reset-password-mail-sent p {
    line-height: 1.25rem;
  }
  
}

