@import "@temp/globalStyles/scss/variables.scss";

.product-description {
  @media (min-width: $medium-screen) {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &:-webkit-scrollbar {
      display: none;
    }
  }

  .price {
    font-size: $h3-font-size;
    margin: 1.5rem auto;
    &.discounted_price {
      span,
      p {
        font-size: $h3-font-size;
      }
    }
  }
  h3 {
    max-width: 22.5rem;
    font-size: $h3-font-size;
    font-weight: $bold-font-weight;
    line-height: 1.875rem;
    margin-bottom: 0.688rem;
    color: #2f2c3a;
  }

  @media (max-width: $small-screen) {
    h3 {
      font-size: $h3-font-size;
      line-height: $base-line-height + 0.5rem;
    }

    .price {
      font-size: $h3-font-size;
    }
  }

  &__price {
    color: $base-font-color-2;
    font-size: $base-font-size;
    font-weight: $font-weight-light;
    margin-bottom: 1.75rem;
  }

  > div {
    > p {
      @extend .product-description__price;
      margin-bottom: 0 !important;
    }
  }

  &__about {
    margin: $spacer * 2 0;

    h4 {
      font-weight: $bold-font-weight;
      color: $gray;
      border-bottom: 0.0625rem solid $gray;
      padding-bottom: $spacer / 2;
      margin-bottom: $spacer / 2;
    }

    p {
      font-size: $small-font-size;
    }

    img {
      max-width: 100%;
    }
  }

  &__selected-attributes {
    font-size: $small-font-size;
    margin-top: 1.25rem;

    > span:first-child {
      color: $gray-dark;
    }
  }

  &__variant-picker {
    display: grid;

    .react-select-wrapper,
    .input {
      width: 50%;
      margin-bottom: 1rem;
    }

    &__quantity {
      display: flex;

      .input {
        margin-left: $spacer * 2;
        max-width: 6rem;

        .input__field {
          max-width: 100%;
        }
      }
    }
  }

  &__error-message {
    color: $message-error-color;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__quantity {
    display: flex;
    flex-direction: row;
    height: 2.625rem;

    @media (max-width: $small-screen) {
      display: none;
    }

    .itemHandler {
      width: 100% !important;
      max-width: 9.375rem;
    }
    .button {
      width: 100% !important;
      max-width: 9.375rem;
    }

    > div {
      margin-right: 0.625rem;
      min-width: 7rem;
    }

    > p {
      @extend .product-description__price;
      margin-bottom: 0.75rem !important;
    }
  }

  &__action {
    padding: initial !important;
    max-width: 16.8125rem;

    > span > span > span {
      font-size: 1rem;

      &::after {
        content: "Agregar al carrito";
      }

      @media (max-width: $medium-screen) {
        &::after {
          content: "Agregar";
        }
      }
    }

    &--fade {
      $animation-speed: 200ms;

      &-enter {
        opacity: 0;

        @at-root #{&}#{&}-active {
          opacity: 1;
          transition: opacity $animation-speed ease-in;
        }
      }

      &-leave {
        opacity: 1;

        @at-root #{&}#{&}-active {
          opacity: 0;
          display: none;
          transition: opacity $animation-speed ease-out;
        }
      }
    }
  }
}
