@import "../../../globalStyles/scss/variables.scss";

.product-description {
  h3 {
    color: $base-font-color;
    font-size: 34px;
    font-weight: $font-weight-normal;
    line-height: 2.5rem;
    margin-bottom: 11px;
  }

  &__price {
    color: $base-font-color-2;
    font-size: 16px;
    font-weight: $font-weight-light;
    margin-bottom: 28px;
  }

  > div {
    > p {
      @extend .product-description__price;
      margin-bottom: 0 !important;
    }
  }

  &__about {
    margin: $spacer * 2 0;

    h4 {
      font-weight: $bold-font-weight;
      color: $gray;
      border-bottom: 1px solid $gray;
      padding-bottom: $spacer / 2;
      margin-bottom: $spacer / 2;
    }

    p {
      font-size: $small-font-size;
    }

    img {
      max-width: 100%;
    }
  }

  &__undiscounted_price {
    text-decoration: line-through;
    color: $gray;
    font-size: $small-font-size;
    font-weight: normal;
  }

  &__selected-attributes {
    font-size: $small-font-size;
    margin-top: 20px;

    > span:first-child {
      color: $gray-dark;
    }
  }

  &__variant-picker {
    display: grid;
    margin-top: 20px;

    .react-select-wrapper,
    .input {
      width: 50%;
      margin-bottom: 1rem;
    }

    &__quantity {
      display: flex;

      .input {
        margin-left: $spacer * 2;
        max-width: 6rem;

        .input__field {
          max-width: 100%;
        }
      }
    }
  }

  &__error-message {
    color: $message-error-color;
    margin-top: 22px;
  }

  &__quantity {
    display: flex;
    height: 42px;
    margin-top: 42px;

    > div {
      margin-right: 10px;
      min-width: 112px;
    }

    > p {
      @extend .product-description__price;
      margin-bottom: 12px !important;
    }
  }

  &__action {
    padding: initial !important;
    max-width: 269px;

    > span > span > span {
      font-size: 16px;

      &::after {
        content: "Agregar al carrito";
      }

      @media (max-width: $medium-screen) {
        &::after {
          content: "Agregar";
        }
      }
    }

    &--fade {
      $animation-speed: 200ms;

      &-enter {
        opacity: 0;

        @at-root #{&}#{&}-active {
          opacity: 1;
          transition: opacity $animation-speed ease-in;
        }
      }

      &-leave {
        opacity: 1;

        @at-root #{&}#{&}-active {
          opacity: 0;
          display: none;
          transition: opacity $animation-speed ease-out;
        }
      }
    }
  }
}
