@import "../../../../globalStyles/scss/variables.scss";

.password-reset {
  width: 25rem;
  max-width: 100vw;

  &__content {
    padding: $spacer;
    &__image {
      text-align: center;
    }
  }
}
.overlay {
  &__header {
    &-text {
      font-size: $base-font-size;
      font-style: normal;
      font-weight: $font-weight-bold;
      line-height: $h3-font-size;
      letter-spacing: 0em;
      text-align: center;
      color: $auna-black;
      width: 100%;
    }
  }
}
