@import "../../../globalStyles/scss/variables.scss";

.header {
  background-color: $white;
  position: sticky;
  width: 100%;
  z-index: 2;
  top: 0;
  padding: 0 1rem;
  max-height: 5rem;
  height: 5rem;

  &__border-bottom {
    border-bottom: 0.0625rem solid #e2e3f1;
  }

  .main-header {
    margin: auto;
    max-width: $container-width;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;

    &.justify-center {
      justify-content: center;
    }

    &__left {
      ul {
        display: flex;
        align-items: center;
      }
    }

    &__right {
      ul {
        display: flex;
        align-items: center;
      }
    }

    &__hamburguer {
      button {
        width: 2rem !important;
        height: 2rem !important;
        > span {
          svg {
            transform: translate(2px, 3px);
          }
        }
      }
    }

    &__user {
      background-color: #f7f6f8;
      width: 2.75rem;
      height: 2.75rem;
      display: flex;
      border-radius: 50%;
      margin-left: 0.5rem;

      @media (max-width: $medium-screen) {
        width: 2rem;
        height: 2rem;
      }
      svg {
        margin: auto;
      }
    }

    &__search {
      margin-left: 5.625rem;
    }

    &__icon {
      cursor: pointer;
    }

    &__search-icon {
      width: 2rem;
      height: 2rem;
      background-color: #f7f6f8;
      border-radius: 50%;
      display: flex;
      svg {
        margin: auto;
      }
    }

    &__cart {
      border-radius: 50%;
      border: 0.0625rem solid #f7f6f8;
      padding: 0.125rem;
      margin-left: 1rem;

      @media (max-width: $medium-screen) {
        margin-left: 0.5rem;
      }

      &__box {
        position: relative;
        background-color: #f7f6f8;
        width: 2.75rem;
        height: 2.75rem;
        display: flex;
        border-radius: 50%;

        @media (max-width: $medium-screen) {
          width: 2rem;
          height: 2rem;
        }
        svg {
          margin: auto;
        }

        &__quantity {
          position: absolute;
          top: 0;
          right: -0.5rem;
          background-color: #00bf8e;
          border-radius: 50%;
          width: 1.25rem;
          height: 1.25rem;
          display: flex;

          @media (max-width: $medium-screen) {
            top: -0.5rem;
          }

          > span {
            margin: auto;
            font-size: 0.625rem;
            line-height: 150%;
            color: $white;
          }
        }
      }
    }
  }
}
