@import "@temp/globalStyles/scss/variables.scss";

.menu-dropdown {
  position: relative;

  &__body {
    display: none;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
    background-color: $white;
    padding: $spacer;
    width: 15rem;
    border-radius: 0.5rem;

    &__rightdown{
      right: 0rem!important;
      left: 1rem!important;
    }
    
    &--visible {
      display: block;
      z-index: 2;
    }

    ul {
      display: flex;
      flex-direction: column;
      font-style: normal;
      font-weight: normal;

      line-height: 2rem;
      align-items: flex-start;

      li {
        width: 80%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        &:hover {
          color: $turquoise;
        }
      }
    }
  }
}
